<p>
    תודה רבה על השתתפותך בניסוי.<br/>
    בניסוי הזה בחנו תדירות מצמוצים כפונקציה של זמן הצגת הגירויים.. 
    באופן ספציפי, בחנו האם זמן חשיפה שונה יוביל לתדירות מצמוצים שונה. בנוסף, בחנו כיצד התפלגות זמני הצגת הגירויים משפיעה על התגובה. 

<br/><br/>
על כל שאלה לגבי הניסוי יש לפנות לד"ר רונן הרשמן, (<a href="mailto:Ronen.Hershman@uibk.ac.at">Ronen.Hershman@uibk.ac.at</a>).<p>
