<p class="lead"><br/><br/>
In the next task, we will ask you, again, to respond with your facial expressions. 
We will ask you to smile when see certain items and frown (show an angry face) when you see other items. <br/><br/>

As you might have already seen, our software can detect smiles quite easily. 
However, it does not always detect frowns well. 
One way to show a clearer angry face is to growl or make a grrr sound. 
An angry growl will expose your teeth and help our software detect that you are frowning. <br/><br/>

After each response, we will ask you to show a neutral face, to help you get ready for the next response. 
