<p class='lead'>
במהלך הניסוי יופיעו בפנייך גירויים עליהם תצטרך/י להסתכל ואליהם תתבקש/י להגיב במהירות ובדיוק המירביים.
<br>
את הניסוי את/ה מתבקש/ת לבצע בחדר שקט וללא הסחות דעת (את הטלפון יש להשתיק במהלך הניסוי).
<br>
הניסוי יימשך כ20 דקות ובתמורה להשתתפותך בניסוי תקבל/י שתי נקודות קרדיט.
<br>
<strong>
קבלת הקרדיט מותנית בסיום כלל החלקים של הניסוי.
</strong>
<br>
באפשרותך להפסיק את השתתפותך בניסוי בכל שלב שהוא מכל סיבה שהיא.
<br>
השתתפותך בניסוי מהווה את הסכמתך לתנאיי הניסוי.
</p>